{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Products</h2>
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }}</li>
            {% empty %}
                <p>No products available.</p>
            {% endfor %}
        </ul>

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}


            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>

        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock %}