<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create Blog</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <h3>- By {{ post.author }}</h3>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" width="200">
        {% endif %}
    {% empty %}
        <h2>No posts available</h2>
    {% endfor %}

</body>
</html>